*.zst	filter=lfs diff=lfs merge=lfs -text
*.xcm	filter=lfs diff=lfs merge=lfs -text
*.xydb	filter=lfs diff=lfs merge=lfs -text
*.xydz	filter=lfs diff=lfs merge=lfs -text
*.xypi	filter=lfs diff=lfs	merge=lfs -text
*.xypz	filter=lfs diff=lfs	merge=lfs -text
